<!-- <p>Welcome {{ username }}</p> -->

<div class="container color-ligth">
  <div class="col">
    <form>
      <input
        type="text"
        class="txt"
        name="item"
        placeholder="Why are your thougths today?..."
        [(ngModel)]="tweetText"
      />
      <input type="submit" class="btn" value="tweet" (click)="addTweet()" />
    </form>
  </div>

  <div class="col">
    <ng-container *ngFor="let tweet of tweets">
      <ng-container
        *ngTemplateOutlet="
          tweetTemplate;
          context: { $implicit: tweet, level: 0 }
        "
      ></ng-container>
    </ng-container>
  </div>
</div>

<ng-container *ngFor="let tweet of tweets">
  <ng-container *ngIf="!tweet.tweet">
    <ng-container
      *ngTemplateOutlet="tweetTemplate; context: { $implicit: tweet, level: 0 }"
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template #tweetTemplate let-tweet let-level="level">
  <div
    class="tweet-card"
    [ngStyle]="{ 'margin-left.px': level * 20 }"
    (click)="toggleThread(tweet.id)"
  >
    <strong class="tweet-user">{{ tweet.user || "anon" }}</strong>
    <div class="tweet-text">>{{ tweet.tweet }}</div>

    <div class="reaction-buttons">
      <!-- LIKE -->
      <button
        (click)="reactToTweet(tweet.id, 1); $event.stopPropagation()"
        class="reaction-btn like"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M7 10v12"></path>
          <path
            d="M15 5.88L14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2h0a3.13 3.13 0 0 1 3 3.88Z"
          ></path>
        </svg>
        {{ getReactionCount(tweet.id, 1) }}
      </button>

      <!-- LOVE  -->
      <button
        (click)="reactToTweet(tweet.id, 2); $event.stopPropagation()"
        class="reaction-btn love"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 1024 1024"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M927.4 273.5v-95.4h-87.9V82.8h-201v95.3h-87.9v95.4h-78.5v-95.4h-88V82.8H183.2v95.3H95.3v95.4H16.7v190.6h78.6v95.4h75.3v95.3H246v95.3h87.9v95.4h100.5v95.3h153.9v-95.3h100.4v-95.4h88v-95.3H852.1v-95.3h75.3v-95.4h78.5V273.5z"
            stroke="#7B8FA1"
            fill="none"
            stroke-width="40"
          />
        </svg>
        {{ getReactionCount(tweet.id, 2) }}
      </button>

      <!-- DISLIKE -->
      <button
        (click)="reactToTweet(tweet.id, 3); $event.stopPropagation()"
        class="reaction-btn dislike"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M17 14V2"></path>
          <path
            d="M9 18.12L10 14H4.17a2 2 0 0 1-1.92-2.56l2.33-8A2 2 0 0 1 6.5 2H20a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.76a2 2 0 0 0-1.79 1.11L12 22h0a3.13 3.13 0 0 1-3-3.88Z"
          ></path>
        </svg>
        {{ getReactionCount(tweet.id, 3) }}
      </button>

      <!-- SAD -->
      <button
        (click)="reactToTweet(tweet.id, 4); $event.stopPropagation()"
        class="reaction-btn sad"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M8 9c0.5-0.5 1.5-0.5 2 0"></path>
          <path d="M14 9c0.5-0.5 1.5-0.5 2 0"></path>
          <path d="M9 16c1-1.5 2-2 3-2s2 0.5 3 2"></path>
          <circle cx="8.5" cy="11.5" r="0.5" fill="currentColor"></circle>
        </svg>
        {{ getReactionCount(tweet.id, 4) }}
      </button>

      <!-- ANGRY  -->
      <button
        (click)="reactToTweet(tweet.id, 5); $event.stopPropagation()"
        class="reaction-btn angry"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M7 8l2 1"></path>
          <path d="M17 8l-2 1"></path>
          <line x1="8.5" y1="10" x2="9.5" y2="10" stroke-width="3"></line>
          <line x1="14.5" y1="10" x2="15.5" y2="10" stroke-width="3"></line>
          <path d="M9 16c1 1 2 1.5 3 1.5s2-0.5 3-1.5"></path>
          <path d="M6 14l1.5-0.5"></path>
          <path d="M18 14l-1.5-0.5"></path>
        </svg>
        {{ getReactionCount(tweet.id, 5) }}
      </button>
    </div>

    <button
      class="btn-comment-toggle"
      (click)="toggleCommentInput(tweet.id); $event.stopPropagation()"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 35 35"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M168,281 C166.832,281 165.704,280.864 164.62,280.633 L159.912,283.463 L159.975,278.824 C156.366,276.654 154,273.066 154,269 C154,262.373 160.268,257 168,257 C175.732,257 182,262.373 182,269 C182,275.628 175.732,281 168,281 Z"
          transform="translate(-152, -255)"
        />
        <path
          d="M168,255 C159.164,255 152,261.269 152,269 C152,273.419 154.345,277.354 158,279.919 L158,287 L165.009,282.747 C165.979,282.907 166.977,283 168,283 C176.836,283 184,276.732 184,269 C184,261.269 176.836,255 168,255 Z"
          transform="translate(-152, -255)"
        />
        <path
          d="M175,266 H161 C160.448,266 160,266.448 160,267 C160,267.553 160.448,268 161,268 H175 C175.552,268 176,267.553 176,267 C176,266.448 175.552,266 175,266 Z"
          transform="translate(-152, -255)"
        />
        <path
          d="M173,272 H163 C162.448,272 162,272.447 162,273 C162,273.553 162.448,274 163,274 H173 C173.552,274 174,273.553 174,273 C174,272.447 173.552,272 173,272 Z"
          transform="translate(-152, -255)"
        />
      </svg>

      Tweet your reply
    </button>

    <div *ngIf="activeCommentInputs.has(tweet.id)" class="comment-form">
      <input
        type="text"
        class="txt"
        placeholder="Escribe un comentario..."
        [(ngModel)]="commentTexts[tweet.id]"
      />
      <button (click)="addComment(tweet.id)">Send</button>
    </div>
  </div>

  <!-- Comentarios -->
  <ng-container *ngIf="expandedTweets.has(tweet.id)">
    <ng-container *ngIf="tweet.comments?.length">
      <ng-container *ngFor="let comment of tweet.comments">
        <ng-container
          *ngTemplateOutlet="
            tweetTemplate;
            context: { $implicit: comment, level: level + 1 }
          "
        ></ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
